@import "tailwindcss";

@theme{
  --color-primary: #FF0000;
  --color-secondary: #00FF00;
  --color-SmoothWhite: #f4f6fc;
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer components {
  .btn {
    @apply transition-all duration-300 ease-in py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none  ;
  }
  .anim-btn {
    @apply transform transition-all duration-200  ease-in hover:scale-110 active:scale-95  ;
  }


}